body {
	background : #f3f3f3;
}

#wrapper {
	padding : 90px 15px;
}


@media screen and (max-width:767.98px) {
	#wrapper {
		padding : 55px 0;
	}

}


.navbar-expand-lg .navbar-nav.side-nav {
	flex-direction : column;
}

.card {
	margin-bottom : 15px;

	border-radius : 5px;
	box-shadow : 0 3px 5px rgba(0, 0, 0, 0.1);
}

.header-top {
	box-shadow : 0 3px 5px rgba(0, 0, 0, 0.1);
}

.leftmenutrigger, .navbar-nav li a .shortmenu {
	display : none;
}
.shortmenu__text {
	/*display: inline-block;*/
    width: 58px;
    border: solid rgba(255,255,255,0.15) 1px;
    position: absolute;
    text-align: center;
    top: 41px;
    left: 141px;
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.card-title {
	font-size : 28px;
}


.side-nav li {
	border-bottom : 1px solid #50575d;
    /* font-size: 0.8rem; */
    font-size: 12px;
}

.navbar-nav.side-nav {
	background-color: #585f66;
}


@media screen and (max-width:767.98px) {
/*	.navbar-nav.side-nav {
		background-color: #585f66;
	}
*/}



@media(min-width:992px) {
	.leftmenutrigger {
		display : block;
		margin : 6px 18px 4px 0;
		cursor : pointer;
	}
	#wrapper {
		padding : 90px 15px 15px 75px;
	}
	#wrapper.open {
		padding : 80px 15px 15px 210px;
	}
	.navbar-nav.side-nav.open {
		left : 0;
	}
	.side-nav li a {
		padding : 20px;
	}
	.navbar-nav li a .shortmenu {
		display : block;
		opacity : 1;;
		float : right;
	}
	.navbar-nav.side-nav.open.navbar-nav li a .shortmenu {
		opacity : 0;
	}
	.navbar-nav.side-nav {
		flex-direction : column!important;
		position : fixed;
		top : 56px;
		bottom : 0;
		left : -140px;

		width : 170px;
		padding-bottom : 40px;;

		box-shadow : 2px 1px 2px rgba(0, 0, 0, 0.1);
		background : #585f66;
	}
	.navbar-toggler-icon {
		width : 20px;
		height : 20px;
	}
/*	.nav-item__icon {
		position: absolute;
	}
*/
}

.animate {
	        transition : all 0.2s ease-in-out;;

	-webkit-transition : all 0.2s ease-in-out;
	   -moz-transition : all 0.2s ease-in-out;
	    -ms-transition : all 0.2s ease-in-out;
	     -o-transition : all 0.2s ease-in-out;
}


@media screen and (max-width:767.98px) {
	.navbar-collapse {
	    margin: 8px 0 0 0;
	    left: -16px;
	    position: relative;
	    width: 100vw;
	    top: 0px;
	}

	.navbar-nav {
	    background-color: #585f66;
	    flex-direction: column;
	    width: 100vw;
	}
	.navbar-nav li {
	    border-bottom: 1px solid #50575d;
	    padding: 0 0 0 12px;
	}

	.nav-item {
		font-size: 12px;
	}

}





.navbar-nav li a svg {
	float : left;
	margin : 0 10px 0 5px;
	font-size : 22px;
}


@media screen and (max-width:767.98px) {
	.navbar-nav li a svg {
		/*position: relative;*/
		float : left;
		margin : 0 10px 0 5px;
		font-size : 18px;
	}

	.side-nav li a svg {
		margin: -8px 0px 0 3px;
	}

}




.side-nav .nav-item {
	position : relative;
	padding-left: 50px;
}

.nav-item__icon {
	position: absolute;
	left: 13px;
	top: 17px;
	margin : 0 10px 0 5px;
	font-size : 21px !important;
}

.nav-item__shorticon {
	position: absolute;
	left: 150px;
	top: 18px;

}



.side-nav .dropdown {
	position : initial;
}

.side-nav .dropdown-menu {
	display : block;
	opacity : 0;
	position : relative;
	top : 0;
	left : 120%;
	visibility : hidden;

	height : 100%;
	margin : 0;
	padding : 0;

	border : 0;
	border-radius : 0;
	box-shadow : 5px 0 5px rgba(0, 0, 0, 0.1);
	background : #eeeeee;
	transition : 0.4s ease all;
}

.side-nav .dropdown-menu.show {
	display : block;
	opacity : 1;
	left : 100%;
	visibility : visible;

	transition : 0.4s ease all;
}

.dropdown-item {
    border-bottom: 1px solid #e0e0e0;
}

.navbar {
	height : 56px;
}
.navbar-brand {
	font-size : 18px;
}
.navbar__breadcrumb {
	margin : 0 0 0 58px;
}



@media screen and (max-width:767.98px) {
	.navbar {
		height : 46px;
	}

}

